<div class="container-fluid justify-content-center bg-pdp" id="top-container">
  <div class="row">
    <div class="col-2"></div>

    <div class="col text-center p-0">

      <div class="intro-para"><span style="text-align: left;">Welcome to Gooder Burger. | Home of the Gooder
          Burger™!<br></span><br>
        <p style="text-align: justify;">Below you'll find a list of burgers you may "devour" by clicking on the button
          next to its
          name. You may add more burgers to the list by filling the tiny form way below. "Devouring" a burger simply
          moves it to the Devoured Burgers list. Have fun!</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

</div>
<div class="container-lg p-0">
  <div class="row row-cols-1 row-cols-md-2 m-0">
    {{!-- left side  --}}
    <div class="col mb-4 p-1">
      <h2 class="text-center mb-3">BURGERS TO EAT</h2>

      <ul class="p-0 text-white text-center" style="list-style: none;" id="left-side-ul">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="p-0 mb-3 d-flex justify-content-between">
          <span class="m-0 p-2">{{burger_name}}</span>
          <div class="devoured-info d-flex" data-id="{{id}}" data-name="devoured-info">
            <button class="change-state btn rounded-0 py-0" data-id="{{id}}" data-eaten="{{devour}}">
              Devour it!
            </button>

            <div class="data-eaten-buttons">
              <span style="display: none;">
                <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="edit">
                  <i class="fa fa-pencil" data-id="{{id}}" data-isbutton="true" data-typeofbutton="edit"></i></button>
                {{!-- <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="save">
                  <i class="fa fa-check" data-id="{{id}}" data-isbutton="true" data-typeofbutton="save"></i></button> --}}
              </span>
              <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="expand"
                data-name="morebutton">
                <i class="fa fa-arrows-h" data-id="{{id}}" data-isbutton="true" data-typeofbutton="expand"
                  data-name="morebutton"></i></button>
              {{!-- <span>
              </span> --}}
            </div>
            {{!-- <div> --}}
            {{!-- </div> --}}
          </div>



        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    {{!-- right side --}}
    <div class="col mb-4 p-1">
      <h2 class="text-center mb-3">DEVOURED BURGERS</h2>

      <ul class="text-white p-0" style="list-style: none;" id="right-side-ul">
        {{#each burgers}}
        {{#if devoured}}
        <li class="p-0 mb-3 d-flex justify-content-between" data-id="{{id}}" data-name="burger-info">

          <span class="m-0 p-2" style="text-decoration:line-through;" data-name="burger-info"
            data-id="{{id}}">{{burger_name}}</span>
          <div class="devoured-info d-flex" data-id="{{id}}" data-name="devoured-info">
            <span class="p-1">{{date_eaten}}</span>

            <div class="data-eaten-buttons">
              <span style="display: none;">
                <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="delete">
                  <i class="fa fa-remove" data-id="{{id}}" data-isbutton="true" data-typeofbutton="delete"></i></button>
                <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="add">
                  <i class="fa fa-plus" data-id="{{id}}" data-isbutton="true" data-typeofbutton="add"></i></button>
              </span>
              <button class="btn2" data-id="{{id}}" data-isbutton="true" data-typeofbutton="expand"
                data-name="morebutton">
                <i class="fa fa-arrows-h" data-id="{{id}}" data-isbutton="true" data-typeofbutton="expand"
                  data-name="morebutton"></i></button>
              {{!-- <span>
              </span> --}}
            </div>
            {{!-- <div> --}}
            {{!-- </div> --}}
          </div>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <div class="row bg-hexbutt m-0">
    <div class="col-12 d-flex justify-content-center p-4">
      <form class="row create-form justify-content-center" id="burger-form">
        <h5 class="text-center mb-4">Name of burger you want to devour:</h5>
        <div class="form-group col-12">
          <input type="text" id="burger" name="name" placeholder="enter name" class="w-100 text-center p-2"></input>
        </div>

        <button type="submit" class="btn2 rounded-0">Add to burger list</button>

      </form>

    </div>
  </div>
</div>