<div class="container-fluid justify-content-center bg-pdp" id="top-container">
  <div class="row">
    <div class="col-2"></div>

    <div class="col text-center p-0">
      
      <div class="intro-para"><span style="text-align: left;">Welcome to Gooder Burger. <br>Home of the Gooder
          Burger™!<br></span><br>
        <p style="text-align: justify;">Below you'll find a list of burgers you may "devour" by clicking on the button next to its
          name and "eating" it. Add burgers to the list by filling the tiny form way below. When "devouring" a burger it
          moves to the Devoured Burgers list. Have fun!</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

</div>
<div class="container-lg p-0">
  <div class="row row-cols-1 row-cols-md-2 m-0">
    {{!-- left side  --}}
    <div class="col mb-4">
      <h2 class="text-center mb-3">BURGERS TO EAT</h2>

      <ul class="p-0 text-white text-center" style="list-style: none;" id="left-side-ul">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="p-0 mb-3 d-flex justify-content-between">
          <span class="m-0 p-2">{{burger_name}}</span>
          <button class="change-state btn rounded-0" data-id="{{id}}" data-eaten="{{devour}}">
            Eat it!
          </button>

        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    {{!-- right side --}}
    <div class="col mb-4">
      <h2 class="text-center mb-3">DEVOURED BURGERS</h2>

      <ul class="text-white p-0" style="list-style: none;" id="right-side-ul">
        {{#each burgers}}
        {{#if devoured}}
        <li class="p-0 mb-3 d-flex justify-content-between">

          <span class="m-0 p-2" style="text-decoration:line-through;">{{burger_name}}</span>
          <span class="devoured-info" data-id="{{id}}" data-eaten="{{devour}}">
            Eaten: {{date_eaten}}
          </span>

        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <div class="row bg-hexbutt m-0">
    <div class="col-12 d-flex justify-content-center p-4">
      <form class="row create-form justify-content-center" id="burger-form">
        <h5 class="text-center mb-4">Name of burger you want to devour:</h5>
        <div class="form-group col-12">
          <textarea type="text" id="burger" name="name" placeholder="enter name"
            class="w-100 text-center p-2"></textarea>
        </div>

        <button type="submit" class="btn2 rounded-0">Add to burger list</button>

      </form>

    </div>
  </div>
</div>